html,
body {
  margin: 0;
}

.page {
  background-color: #6f88b3;
  position: relative;
  height: 100vh;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75%;
  width: 75em;
  margin: auto;
}

.main-text {
  font-size: 2.25em;
  height: 5.25em;
  overflow-y: auto;
}

.main-text::-webkit-scrollbar {
  display: none;
}
.main-text::-webkit-scrollbar-thumb {
  background-color: aliceblue; /* Change the color of the thumb (the draggable part of the scrollbar) */
}

.button-container {
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  height: 8em;
  width: 8em;
}
.main-button {
  align-self: center;
  background-color: pink;
  padding: 8px 10px 5px;
  cursor: pointer;
  border: none;
  border-radius: 2em;
}

.main-hover-text {
  display: none;
}
.main-button:hover + .main-hover-text {
  display: flex;
  position: absolute;
  bottom: 0;
  color: pink;
  font-weight: bold;
  font-size: 1.25em;
}

.success-highlight {
  color: pink;
}

.error-highlight {
  color: yellow;
}

.neutral-highlight {
  color: aliceblue;
}

.popup {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 1);
  background-color: pink;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 25%;
  height: 25%;
}

.word-counter {
  text-align: center;
  margin-bottom: 30px;
  color: #6f88b3;
  font-size: 2.5em;
  font-weight: bold;
}

.secondary-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #6f88b3;
  align-self: center;
}

.hover-text {
  display: none;
}

.secondary-button:hover + .hover-text {
  display: inline;
  align-self: center;
  color: #6f88b3;
  font-weight: bold;
  position: absolute;
  bottom: 1.5em;
  font-size: 1.25em;
}

.restart-icon {
  width: 2.5em;
  height: 2.5em;
}

.logo {
  display: inline-flex;
  padding-left: 1em;
  color: pink;
}

.logo-icon {
  padding-top: 2em;
  margin-right: 1em;
  width: 6em;
  height: 6em;
}

.logo-text {
  padding-top: 1em;
  font-family: "Orbitron";
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
}

.timer {
  font-size: 1.5em;
  color: aliceblue;
  text-align: left;
  margin-bottom: 1em;
}

.caps-message {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 1);
  background-color: pink;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 8em;
  left: 0;
  margin: auto;
  width: 9em;
  height: 2.5em;
  border-radius: 2em;
  color: #6f88b3;
  font-size: 1.5em;
  font-weight: bold;
}
.lock-icon {
  width: 20px;
  height: 20px;
  fill: #6f88b3;
  padding: 5px;
}
