html,
body {
  margin: 0;
}

.page {
  background-color: #6f88b3;
  position: relative;
  height: 100vh;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65%;
  padding: 0 1em;
}

.main-text {
  text-align: center;
  font-size: 3em;
}

.success-highlight {
  color: pink;
}

.error-highlight {
  color: yellow;
}

.neutral-highlight {
  color: aliceblue;
}

.word-counter {
  text-align: center;
  margin-top: 1em;
  color: aliceblue;
  font-size: 2em;
}

.logo {
  display: inline-flex;
  padding-left: 1em;
  color: pink;
}

.logo-icon {
  padding-top: 2em;
  margin-right: 1em;
  width: 6em;
  height: 6em;
}

.logo-text {
  padding-top: 1em;
  font-family: "Orbitron";
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
}

.timer {
  font-size: 1.5em;
  color: darkslategrey;
  margin-left: 3em;
  text-align: left;
}
